# Entornos virtuales de Python
venv/
env/
ENV/

# Archivos compilados de Python
__pycache__/
*.pyc
*.pyo
*.pyd

# Configuración de editores (VS Code, etc.)
.vscode/
.idea/

# Variables de entorno y logs
.env
*.log